h1 {
  color: black;
  font-style: bold;
  text-align: center;
}
h2 {
  text-align: left;
  color: black;
  font-style: italic;
}
p {
  color: white;
}
body {
  background-color: violet;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
}